Dev/JDONREFv3JSON/src/conf/xml-resources/web-service-references/JDONREF/wsdl/localhost_80/JDONREF/JDONREF.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-b05-RC1. --><xs:schema xmlns:tns="http://jdonref.ppol/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jdonref.ppol/">

<xs:element name="administre" type="tns:administre"></xs:element>

<xs:element name="administreResponse" type="tns:administreResponse"></xs:element>

<xs:element name="contacte" type="tns:contacte"></xs:element>

<xs:element name="contacteResponse" type="tns:contacteResponse"></xs:element>

<xs:element name="decoupe" type="tns:decoupe"></xs:element>

<xs:element name="decoupeResponse" type="tns:decoupeResponse"></xs:element>

<xs:element name="free" type="tns:free"></xs:element>

<xs:element name="freeResponse" type="tns:freeResponse"></xs:element>

<xs:element name="geocode" type="tns:geocode"></xs:element>

<xs:element name="geocodeResponse" type="tns:geocodeResponse"></xs:element>

<xs:element name="getList" type="tns:getList"></xs:element>

<xs:element name="getListResponse" type="tns:getListResponse"></xs:element>

<xs:element name="getState" type="tns:getState"></xs:element>

<xs:element name="getStateResponse" type="tns:getStateResponse"></xs:element>

<xs:element name="getVersion" type="tns:getVersion"></xs:element>

<xs:element name="getVersionResponse" type="tns:getVersionResponse"></xs:element>

<xs:element name="normalise" type="tns:normalise"></xs:element>

<xs:element name="normaliseResponse" type="tns:normaliseResponse"></xs:element>

<xs:element name="obtientProcessus" type="tns:obtientProcessus"></xs:element>

<xs:element name="obtientProcessusResponse" type="tns:obtientProcessusResponse"></xs:element>

<xs:element name="revalide" type="tns:revalide"></xs:element>

<xs:element name="revalideResponse" type="tns:revalideResponse"></xs:element>

<xs:element name="reverse" type="tns:reverse"></xs:element>

<xs:element name="reverseResponse" type="tns:reverseResponse"></xs:element>

<xs:element name="stop" type="tns:stop"></xs:element>

<xs:element name="stopResponse" type="tns:stopResponse"></xs:element>

<xs:element name="valide" type="tns:valide"></xs:element>

<xs:element name="valideResponse" type="tns:valideResponse"></xs:element>

<xs:complexType name="stop">
<xs:sequence>
<xs:element name="processus" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stopResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contacte">
<xs:sequence>
<xs:element name="application" type="xs:int"></xs:element>
<xs:element name="services" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="operation" type="xs:int"></xs:element>
<xs:element name="donnees" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="options" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contacteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getState">
<xs:sequence>
<xs:element name="application" type="xs:int"></xs:element>
<xs:element name="processus" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="geocode">
<xs:sequence>
<xs:element name="application" type="xs:int"></xs:element>
<xs:element name="services" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="operation" type="xs:int"></xs:element>
<xs:element name="donnees" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="options" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="geocodeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="valide">
<xs:sequence>
<xs:element name="application" type="xs:int"></xs:element>
<xs:element name="services" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="operation" type="xs:int"></xs:element>
<xs:element name="donnees" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="options" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="valideResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="decoupe">
<xs:sequence>
<xs:element name="application" type="xs:int"></xs:element>
<xs:element name="services" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="operation" type="xs:int"></xs:element>
<xs:element name="donnees" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="options" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="decoupeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="normalise">
<xs:sequence>
<xs:element name="application" type="xs:int"></xs:element>
<xs:element name="services" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="operation" type="xs:int"></xs:element>
<xs:element name="donnees" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="options" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="normaliseResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVersion">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVersionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reverse">
<xs:sequence>
<xs:element name="application" type="xs:int"></xs:element>
<xs:element name="services" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="operation" type="xs:int"></xs:element>
<xs:element name="donnees" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="distance" type="xs:float"></xs:element>
<xs:element name="options" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reverseResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="administre">
<xs:sequence>
<xs:element name="operation" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="administreResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getList">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getListResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="free">
<xs:sequence>
<xs:element name="processus" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="freeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="revalide">
<xs:sequence>
<xs:element name="application" type="xs:int"></xs:element>
<xs:element name="services" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="operation" type="xs:int"></xs:element>
<xs:element name="donnees" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="options" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="revalideResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtientProcessus">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="parametres" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="connection1" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="connection2" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtientProcessusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>