Dev/JDONREFv3/src/conf/xml-resources/web-service-references/JDONREF/wsdl/localhost/JADRREF/JADRREF.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-b05-RC1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-b05-RC1. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jdonref.ppol/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jdonref.ppol/" name="JDONREFService">
<types>
<xsd:schema>
<xsd:import namespace="http://jdonref.ppol/" schemaLocation="http://localhost:80/JADRREF/JADRREF?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="normalise">
<part name="parameters" element="tns:normalise"></part>
</message>
<message name="normaliseResponse">
<part name="parameters" element="tns:normaliseResponse"></part>
</message>
<message name="valide">
<part name="parameters" element="tns:valide"></part>
</message>
<message name="valideResponse">
<part name="parameters" element="tns:valideResponse"></part>
</message>
<message name="geocode">
<part name="parameters" element="tns:geocode"></part>
</message>
<message name="geocodeResponse">
<part name="parameters" element="tns:geocodeResponse"></part>
</message>
<message name="revalide">
<part name="parameters" element="tns:revalide"></part>
</message>
<message name="revalideResponse">
<part name="parameters" element="tns:revalideResponse"></part>
</message>
<message name="reverse">
<part name="parameters" element="tns:reverse"></part>
</message>
<message name="reverseResponse">
<part name="parameters" element="tns:reverseResponse"></part>
</message>
<message name="decoupe">
<part name="parameters" element="tns:decoupe"></part>
</message>
<message name="decoupeResponse">
<part name="parameters" element="tns:decoupeResponse"></part>
</message>
<message name="contacte">
<part name="parameters" element="tns:contacte"></part>
</message>
<message name="contacteResponse">
<part name="parameters" element="tns:contacteResponse"></part>
</message>
<message name="getVersion">
<part name="parameters" element="tns:getVersion"></part>
</message>
<message name="getVersionResponse">
<part name="parameters" element="tns:getVersionResponse"></part>
</message>
<portType name="JDONREF">
<operation name="normalise">
<input message="tns:normalise"></input>
<output message="tns:normaliseResponse"></output>
</operation>
<operation name="valide">
<input message="tns:valide"></input>
<output message="tns:valideResponse"></output>
</operation>
<operation name="geocode">
<input message="tns:geocode"></input>
<output message="tns:geocodeResponse"></output>
</operation>
<operation name="revalide">
<input message="tns:revalide"></input>
<output message="tns:revalideResponse"></output>
</operation>
<operation name="reverse">
<input message="tns:reverse"></input>
<output message="tns:reverseResponse"></output>
</operation>
<operation name="decoupe">
<input message="tns:decoupe"></input>
<output message="tns:decoupeResponse"></output>
</operation>
<operation name="contacte">
<input message="tns:contacte"></input>
<output message="tns:contacteResponse"></output>
</operation>
<operation name="getVersion">
<input message="tns:getVersion"></input>
<output message="tns:getVersionResponse"></output>
</operation>
</portType>
<binding name="JDONREFPortBinding" type="tns:JDONREF">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="normalise">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="valide">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="geocode">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="revalide">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="reverse">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="decoupe">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="contacte">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getVersion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="JDONREFService">
<port name="JDONREFPort" binding="tns:JDONREFPortBinding">
<soap:address location="http://localhost:80/JADRREF/JADRREF"></soap:address>
</port>
</service>
</definitions>